{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'photo/Icon3.png'%}" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Indie+Flower|Noto+Sans+SC|Scheherazade&display=swap"
        rel="stylesheet">
    <!-- Usage -->
    <!-- 
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Scheherazade', serif;
    font-family: 'Noto Sans SC', sans-serif;
    -->
    <!-- End of sonts usage -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- title block -->
    <title>Signin | Lang Learn</title>
    <!-- end title block -->
</head>

<body>
    <!-- container block -->
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand font-indie" href="#">
            <img src="{% static 'photo/Icon3.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            Lang Learn
        </a>
        <a class="nav-link navbar-text" style="color: #fff;" href="{% url 'signup' %}">Signup</a>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container font-fira">
            <h1>Signin</h1>
            {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            <form action="" method="post">
                <div class="form-group">
                    <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                        </div>
                        <input type="text" class="form-control" id="inlineFormInputGroupUsername2"
                            placeholder="Username" name="username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password"
                        name="password">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="remindme">
                    <label class="form-check-label" for="remindme">Remind me</label>
                </div>
                <button type="submit" class="btn btn-primary">Enter</button>
            </form>
        </div>
    </div>
    <!-- end container block -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>